.ui-pagination{
    white-space: nowrap;
    padding: 2px 5px;
    color: #475669;
}

.ui-pager,
.ui-number,
.ui-goto{
    display: inline-block;
}
.ui-goto{
    margin-left:4px;
}
.ui-goto--current{
    width: 30px;
    text-align: center;
    padding:2px;
    border-radius:5px;
    outline: none;
    border:1px solid #d3dce6;
}
.ui-pager{
    user-select: none;
    list-style: none;
    font-size: 0;
    padding: 0;
}
.ui-number{
    padding: 0 4px;
    border: 1px solid #d3dce6;
    border-right: 0;
    background: #fff;
    font-size: 13px;
    min-width: 28px;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
}
.ui-number--active{
    border-color: #20a0ff;
    background-color: #20a0ff;
    color: #fff;
    cursor: default;
}
